<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Game</title>
    <link href="{{ url_for('static', filename='comp_fly/style.css') }}" rel="stylesheet"
    type="text/css" />
</head>
<body>
    <div id="game-window">

    <!-- This is the box the game sits in-->
    <canvas id="canvas1"></canvas>

    <script src="{{ url_for('static', filename='comp_fly/script.js') }}"></script>
    </div>
</body>
</html>