<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<style>
    body {
        margin: 0;
        background: black;
    }
</style>

<div class="fixed text-white text-sm ml-2 mt-1 select-none">
    <span>Score: </span><span id="scored">0</span>
</div>

<div class="fixed inset-0 flex items-center justify-center" id="modalEl">
    <div class="bg-white max-w-md w-full p-6 text-center rounded-md">
        <h1 class="text-4xl font-bold select-none leading-none">0</h1>
        <p class="text-sm text-gray-500 mb-3 select-none">Points</p>
        <div>
            <button class="bg-blue-600 text-sm text-white w-full py-3 rounded-full select-none" id="startGameBtn">Start Game</button>
        </div>
        <button></button>
    </div>
</div>

<canvas></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ==" crossorigin="anonymous"></script>
<script src="../games/dtd_game.js"></script>
