{% extends 'base.html' %}
{% block content %}

<div class="hero-container col-12 p-0 d-flex align-items-center">
    <canvas id="hero-image" class="position-absolute"></canvas>

    <div class="position-absolute col-11 text-light ps-5">
        <div class="ps-5">
            <h1 class="display-3">Meet People. Make Friends. Play Games.</h1>
            <p class="lead fs-4">Play games and chill with your friends without leaving lockdown.</p>
            <a href="/go">
                <div class="btn btn-primary bg-dark border-0 px-5 py-2 fs-5 mt-2">Play Now</div>
            </a>
        </div>
    </div>
</div>

<section class="tex-dark col-12 feature-section py-5">
    <div class="row col-10 offset-1">
        <p class="fs-1 text-center mb-5">More Than Just Video Chat</p>
        <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1" data-aos="fade-right" data-aos-duration="1000">
            <div>
                <p class="fs-3"></p>
                <ul>
                    <li class="px-2">
                        <p class="fs-5 m-0">Party. Game. Chat.</p>
                        <p>Party with friends, play games together, chat with each other.</p>
                    </li>
                    <li class="px-2">
                        <p class="fs-5 m-0">Find your crew:</p>
                        <p>Invite friends or make new friends and chill with our community.</p>
                    </li>
                    <li class="px-2">
                        <p class="fs-5 m-0">Play your way:</p>
                        <p>Choose from a library of unique games designed for our
                            platform.</p>
                    </li>
                    <li class="px-2">
                        <p class="fs-5 m-0">Smile and wave.</p>
                        <p>Free and secure video chat for everyone.</p>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-lg-5 offset-lg-0 col-md-10 offset-md-1 pt-5" data-aos="fade-left" data-aos-duration="1000">
            <img src="/static/images/group_hangout.svg" class="col-10 offset-1" />
        </div>
    </div>
</section>

<section class="text-dark howItWorks-section col-12 py-5">
    <p class="fs-1 text-center mb-5">How does it work?</p>
    <div class="row col-10 offset-1">

        <div class="col-lg-5 offset-lg-1 col-md-10 offset-md-1" data-aos="fade-right" data-aos-duration="1000">
            <img src="/static/images/connection.svg" class="col-10 offset-1" />
        </div>

        <div class="col-lg-5 offset-lg-0 col-md-10 offset-md-1" data-aos="fade-left" data-aos-duration="1000">
            <p class="fs-3">Getting started is simple.</p>
            <p>Press play now to start searching for someone to hang with. Once you're connected you can start a game,
                just
                chat, or skip and begin the search for a new person at any time. You can further narrow your search to
                find
                people interested in the same things you are. </p>
        </div>
    </div>
</section>

<section class="text-dark p-5 text-center team-section">
    <p class="fs-1">The Team</p>
    <!-- Team Members -->
    <div class="col-10 offset-1 row">
        <!-- Member 1 -->
        <div class="col-8 offset-2 col-md-5 offset-md-1 offset-lg-0 col-lg-3 my-4">
            <div class="col-8 offset-2">
                <!-- portrait -->
                <img src="/static/images/profile_image-1.svg" class="col-12 team-portrait" />
                <div class="pt-2">
                    <p class="m-0">Jonathan Warner</p>
                    <p class="m-0 small">Front-End Lead</p>
                </div>
                <!-- social links -->
                <div class="col-12 d-flex flex-row align-items-center justify-content-center">
                    <a href="https://github.com/jewarner57" target="_blank" class="col-2 mx-1">
                        <svg width="16" height="16" viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                    </a>
                    <a href="https://www.jonathanewarner.com/" target="_blank" class="col-2 mx-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                            <path
                                d="M11.362 2c4.156 0 2.638 6 2.638 6s6-1.65 6 2.457v11.543h-16v-20h7.362zm.827-2h-10.189v24h20v-14.386c0-2.391-6.648-9.614-9.811-9.614zm4.811 13h-3v-1h3v1zm0 2h-3v1h3v-1zm0 3h-10v1h10v-1zm-5-6h-5v4h5v-4z" />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/jonathan-warner-2a5179168/" target="_blank" class="col-2 mx-1">
                        <svg width="16" height="16" viewBox="0 0 24 24">
                            <path
                                d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Member 2 -->
        <div class="col-8 offset-2 col-md-5 offset-md-0 col-lg-3 my-4">
            <div class="col-8 offset-2">
                <!-- portrait -->
                <img src="/static/images/profile_image-1.svg" class="col-12 team-portrait" />
                <div class="pt-2">
                    <p class="m-0">Joe Cottingham</p>
                    <p class="m-0 small">Back-End Lead</p>
                </div>
                <!-- social links -->
                <div class="col-12 d-flex flex-row align-items-center justify-content-center">
                    <a href="https://github.com/JosephCottingham" target="_blank" class="col-2 mx-1">
                        <svg width="16" height="16" viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/joseph-cottingham/" target="_blank" class="col-2 mx-1">
                        <svg width="16" height="16" viewBox="0 0 24 24">
                            <path
                                d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Member 3 -->
        <div class="col-8 offset-2 col-md-5 offset-md-1 offset-lg-0 col-lg-3 my-4">
            <div class="col-8 offset-2">
                <!-- portrait -->
                <img src="/static/images/profile_image-2.svg" class="col-12 team-portrait" />
                <div class="pt-2">
                    <p class="m-0">Reef Stafford</p>
                    <p class="m-0 small">Gitmaster, Back-End</p>
                </div>
                <!-- social links -->
                <div class="col-12 d-flex flex-row align-items-center justify-content-center">
                    <a href="https://github.com/CptnReef" target="_blank" class="col-2 mx-1">
                        <svg width="16" height="16" viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/sharif-stafford-a922601b8/" target="_blank" class="col-2 mx-1">
                        <svg width="16" height="16" viewBox="0 0 24 24">
                            <path
                                d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <!-- Member 4 -->
        <div class="col-8 offset-2 col-md-5 offset-md-0 col-lg-3 my-4">
            <div class="col-8 offset-2">
                <!-- portrait -->
                <img src="/static/images/profile_image-2.svg" class="col-12 team-portrait" />
                <div class="pt-2">
                    <p class="m-0">Ruot Nyak</p>
                    <p class="m-0 small">Design Lead, Back-End</p>
                </div>
                <!-- social links -->
                <div class="col-12 d-flex flex-row align-items-center justify-content-center">
                    <a href="https://github.com/ruot-nyak" target="_blank" class="col-2 mx-1">
                        <svg width="16" height="16" viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/ruot/" target="_blank" class="col-2 mx-1">
                        <svg width="16" height="16" viewBox="0 0 24 24">
                            <path
                                d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
<!-- hero animation -->
<script src="https://unpkg.com/thpace"></script>
<script src="{{ url_for('static', filename='js/thpace.js') }}"></script>

<!-- scroll animations -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% endblock scripts %}