{% extends 'base.html' %}
{% block content %}

<section class="auth-section">

    <div class="auth-container">
        <p class="fs-3 text-center">Login</p>
        <form action="{{ url_for('user.login', next=request.args.get('next')) }}" method="POST">
            {{ form.csrf_token }}
            <fieldset>

                <div class="input-wrapper">
                    {{ form.email.label(class_="form-label") }}
                    {{ form.email(class_="form-control") }}
                </div>
                <ul>
                    {% for error in form.email.errors %}
                    <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>

                <div class="input-wrapper">
                    {{ form.password.label(class_="form-label") }}
                    {{ form.password(class_="form-control") }}
                </div>
                <ul>
                    {% for error in form.password.errors %}
                    <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>

                <div class="input-wrapper">
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </fieldset>
        </form>
    </div>

</section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}