{% extends 'base.html' %}
{% block content %}

<section class="auth-section">

    <div class="auth-container">
        <h1>Sign Up</h1>
        <form action="{{ url_for('user.login', next=request.args.get('next')) }}" method="POST">
            {{ form.csrf_token }}
            <fieldset>
                <legend>Enter your credentials</legend>

                {{ form.username.label }}
                {{ form.username }}
                <ul>
                    {% for error in form.username.errors %}
                    <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>

                {{ form.password.label }}
                {{ form.password }}
                <ul>
                    {% for error in form.password.errors %}
                    <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>

                {{ form.submit }}
            </fieldset>
        </form>
    </div>

</section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}