/* 1.0 - Home Page */
.hero-container {
    height: 100vh;
    background-color: #4c8fef;
}

section {
    height: 75vh;
}

.feature-section, .team-section {
    background-color: #eaebed;
}

.howItWorks-section {
    background-color: #c1d0e7;
}