/* Elements */
body {
    overflow-x: hidden;
}

/* 1.0 - Home Page */
.hero-container {
    height: 100vh;
    background-color: #4c8fef;
}

.feature-section, .team-section {
    background-color: #eaebed;
}

.howItWorks-section {
    background-color: #c1d0e7;
}

.team-portrait {
    box-shadow: 3px 1px 14px;
    border-radius: 200px;
}

/* 2.0 - Video Chat Page */

/* 2.1 Video Windows */
.content-window {
    width: 100%;
    height: 45vh;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #4c8fef;
    overflow: hidden;
    z-index:99;
}

.window-title {
    color: whitesmoke;
    background-color: #4c8fef;
    font-size: 20px;
    width: 100%;
    max-height: 40px;
}

.window-container-column {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.window-container-row {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.video-window-wrapper {
    width: 100%;
    min-width: 400px;
    padding: 5px;
    min-height: 45vh;
}

#game-window {
    height: 100%;
}

.game-window-wrapper {
    width: 100%;
    padding: 5px;
    min-height: 45vh;
}

/* 2.2 Window Popout  */
.popout-button {
    text-align: right;
    cursor: pointer;
    z-index: 99;
}

.window-draggable {
    display: block;
    position: absolute;
    width: 50%;
}

#ghostpane {
	background: #999;
	opacity: 0;

	width: 45%;
	height: 45%;
	top: 20%;
	left: 20%;
	
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: -100;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

/* 2.3 Video */

.video-stream {
    background-color: black;
    width: 100%;
}

.streamControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.muteButton {
    min-width: 60px;
    min-height: 60px;

    text-align: center;
    border-radius: 50px;

    z-index: 101;
    position: absolute;
    bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.muteButtonWrapper {
    width: 100px;
    display: flex;
    justify-content: center;
}

.findMatchButton {
    min-width: 60px;
    min-height: 60px;

    text-align: center;
    border-radius: 50px;

    z-index: 101;
    margin-top: 10px;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(139, 139, 139);
}

.buttonOn {
    transition: background-color 0.25s ease;
    background-color: rgb(95, 219, 126);
}

.buttonOff {
    transition: background-color 0.25s ease;
    background-color: rgb(238, 94, 94);
}

/* 3.0 Auth */

.auth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 221);
    min-height: 90vh;
}

.auth-container {
    padding: 30px 50px;
    margin: 30px 0;
    background-color: white;
    border-radius: 10px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 40px;
}

/* 4.0 Profile Section */
.profile-icon {
    padding-top: 6px;
}

.profile-name {
    font-size: 28px;
}

.profile-header {
    text-align: right;
    display: flex;
    flex-direction: row;
}

.profile-stat-section {
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
    padding-top: 10px;
}

.user-stats-container {
    width: 80%;
    margin-left: 10%;
}

.user-stat {
    width: 45%;
    min-width: 300px;
    margin: 10px;
    padding: 40px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
    background-color: rgb(219, 218, 218);
}

.profile-setting-section {
    background-color: aliceblue;
}

/* 4.0 Game Window */
.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.gameTile {
    width: 18rem;
    z-index: 101;
}

.gameTile:hover {
    transition: all 0.5s;
    box-shadow: 2px 2px 5px gray;
}

.gameImage {
    width: 150px;
    height: 150px;

    background-size: cover;
    background-position: center;

    border-radius: 5px;
}

#canvas {
    width: 100%;
}

/* 5.0 Utility Classes */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
    width: 0;
    display: none;
}

.text-med {
    color: rgb(94, 93, 93);
}

.error {
    color: rgb(238, 77, 77);
    margin: 10px auto;
    max-width: 200px;
    word-wrap: break-word;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Game: "Dance To Death" Style Sheet*/
#container {
    position: absolute;
    /* border: 3px solid green; */
    display: flex;
    top: 50%;
    left: 36%;
    margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
    transform: translate(-50%, -50%);
}

#container canvas, #overlay {
    position: absolute;

    /* border: 3px solid green; */
}

